{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeuPonto</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="container">
                <img src="{% static 'images/logo.svg' %}" alt="Logo SeuPonto" class="logo">
                <div class="perfil">
                    <p>{{ user.first_name }}</p>
                    <img src="{% static 'images/user.svg' %}" alt="Perfil">
                </div>
            </div>
        </div>
    </header>
    <main>
        <form method="post" action="/registrar_ponto/">
            {% csrf_token %}
            <div id="meu-ponto">
                <h2>Meu Ponto</h2>
                <p id="timer">00:00:00</p>
                <button type="button" id="start-btn">Iniciar ponto</button>
                <button type="button" id="pause-btn">Pausar</button>
                <button type="button" id="resume-btn">Continuar</button>
                <button type="button" id="stop-btn">Finalizar</button>
                <button type="button" id="cancel-btn">Cancelar</button>
            </div>
        </form>        
    </main>
    <script src="{% static 'js/registrar_ponto.js' %}"></script>
</body>
</html>