{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeuPonto</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="container">
                <h1><img src="{% static 'images/logo.svg' %}" alt="Logo SeuPonto" class="logo"></h1>
                <div class="perfil">
                    <p>{{ user.first_name }}</p>
                    <img src="{% static 'images/user.svg' %}" alt="Perfil">
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <form method="post" action="/registrar_ponto/">
                {% csrf_token %}
                <div id="meu-ponto" class="meu-ponto">
                    <h2>Meu Ponto</h2>
                    <span id="tempo-decorrido" class="tempo-decorrido" data-entrada="{{ ponto.entrada|date:'U' }}">00:00:00</span>
                    <div class="botoes">
                        <button type="button" id="start-btn" class="start-btn">Iniciar ponto</button>
                        <button type="button" style="display: none;" id="cancel-btn" class="cancel-btn">Cancelar</button>
                        <button type="button" style="display: none;" id="end-btn" class="end-btn">Finalizar</button>
                    </div>
                </div>
            </form>
            <div id="modal-resumo" class="modal-resumo">
                <div class="modal-container">
                    <h3>Resumo do Ponto</h3>
                    <p>Entrada: <span id="resumo-entrada"></span></p>
                    <p>Saída: <span id="resumo-saida"></span></p>
                    <p>Carga Horária: <span id="resumo-carga"></span></p>
                    <label>Descrição:</label>
                    <input type="text" id="descricao-input" maxlength="100" style="width: 100%;" required />
                    <label>Anotação Técnica:</label>
                    <input type="text" id="anotacao-input" maxlength="100" style="width: 100%;" />
                    <div style="margin-top:15px; text-align: right;">
                        <button type="button" id="fechar-modal">Fechar</button>
                        <button type="button" id="confirmar-finalizar">Finalizar</button>
                    </div>
                </div>
            </div>
        </div>>
    </main>
    <script src="{% static 'js/ponto.js' %}"></script>
        
        
        
</body>
</html>